
@{
    Layout ="";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css">
    <link rel="stylesheet" href="~/scss/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>
    <title>Home</title>
</head>



<body id="wrapper" class="orange">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">011 325 6659</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">YellowSplit.co.za</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <h1>Yellow</h1>
                            <span>Split</span>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="~/Site/Home">Home</a></li>
                            <li><a href="~/Site/features">Features</a></li>
                            <li><a href="~/Site/about">About</a></li>
                            <li><a href="~/Site/contact">Contact</a></li>
                            <li><a href="~/Site/login">Sign In</a></li>
                            <li><a href="~/Site/registration">Sign Up</a></li>
                        </ul>
                    </div>
              

                </div>
            </div>
        </nav>
    </header>


    <div id="myCarousel" class="carousel slide">
       
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/img/banner-slide-11.png" class="fill"/>
                <div class="fill" src="~/wwwroot/img/banner-slide-11.jpg">

                </div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Connecting the <span>Music </span>Industry</h1>
                    <p class="banner_txt">Making it easy for creatives to collaborate with each other on projects through music, fashion, art and skills </p>
                    <div class="slider_btn">
                        <button type="button" class="btn btn-default slide" onclick="@("window.location.href='" + @Url.Action("about", "Site") + "'");" >Learn More <i class="fa fa-caret-right"></i></button>
                        <button type="button" class="btn btn-primary slide" onclick="@("window.location.href='" + @Url.Action("registration", "Site") + "'");">Register<i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="fill" src="~/wwwroot/img/banner-slide-2.jpg"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Connecting the <span>Creative </span>Industry</h1>
                    <p class="banner_txt">Making it easy for creatives to collaborate with each other on projects through music, fashion, art and skills </p>
                    <div class="slider_btn">
                        <button type="button" class="btn btn-default slide" onclick="@("window.location.href='" + @Url.Action("about", "Site") + "'");">Learn More <i class="fa fa-caret-right"></i></button>
                        <button type="button" class="btn btn-primary slide" onclick="@("window.location.href='" + @Url.Action("registration", "Site") + "'");">Register <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="fill" src="~/wwwroot/img/banner-slide-3.jpg'"></div>
                <div class="carousel-caption slide-up">
                    <h1 class="banner_heading">Connecting the <span>Fashion </span>Industry</h1>
                    <p class="banner_txt">Making it easy for creatives to collaborate with each other on projects through music, fashion, art and skills </p>
                    <div class="slider_btn">
                        <button type="button" class="btn btn-default slide">Learn More <i class="fa fa-caret-right"></i></button>
                        <button type="button" class="btn btn-primary slide">Register <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

 

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-laptop feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Collaborations</h4>
                        <p>With Yellow Split you can connect with other musicians or professionals of the industry to collaborate with, showcase your skills by uploading your music and videos and other materials</p>
                        <a href="#" class="readmore">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-bullhorn feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Brand Marketing</h4>
                        <p>We help you create a community, localizing an audience to  connect to artist with a bigger crowd and coordinating the different strategies to develop their music career.</p>
                        <a href="#" class="readmore">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-support feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Mentoring</h4>
                        <p>Find the mentor right for you that will help review your material and refine them for a more professional look. Filter by credits or skills to find one and decide on the appropriate sessions.</p>
                        <a href="#" class="readmore">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="image-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
            <div class="background-imgholder">
                <img src="~/wwwroot/img/1.jpg" alt="about" class="img-responsive" style="display:none;" />
            </div>
        </div>

        <div class="container-fluid">

            <div class="col-md-7 col-md-offset-5 col-sm-8 col-sm-offset-2 col-xs-12 text-inner ">
                <div class="text-block">
                    <div class="section-heading">
                        <h1>ABOUT <span>US</span></h1>
                        <p class="subheading">At Yellow Split we offer easy to use platforms that simplify ways creatives collaborate and transform the way they works together. </p>
                    </div>

                    <ul class="aboutul">
                        <li> <i class="fa fa-check"></i>We aim is to offer a digital workplace that enable for great learning and skill share, focused on bringing ideas to the world faster allowing creatives to spend less time struggling with connections and getting more work done.</li>
                        <li> <i class="fa fa-check"></i>&nbsp;Aspiring creatives of all kind can create projects compose and share with each other on the platform, letting the experienced  to add, fix and master certain elements of the project that will results in a more polished products.</li>
                        <li> <i class="fa fa-check"></i>Users will also be able to monetize their expertise and make profits by earning points on the system from each project they take part in and for their assist in its completion.</li>
                        <li> <i class="fa fa-check"></i>We give many ideas a shape and bring them to life but also provide many opportunities for job creation, learning and entrepreneurial prospect for all our users.</li>
                        <li> <i class="fa fa-check"></i>&nbsp;Users can also request assist wit in the field of their interest. From music, art, fashion or technology.&nbsp; &nbsp; &nbsp;</li>

                    </ul>

                    <button type="button" class="btn btn-primary slide">Learn More  <i class="fa fa-caret-right"></i> </button>


                </div>
            </div>
        </div>
    </section>


    <section id="process">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <h1>What <span>We Do</span></h1>
                    <p class="subheading">We connect creatives and give then a paltform to wotk with other cretives like them Ofering opporutines for them to connect and collaborate plus earn points which can be monetised when they offer thier skills and expertise.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 block process-block">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-lightbulb-o feature_icon"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">Idea</a></h4>
                        <p>If you have an idea and dont know where to start, this is the place for you to expore diffrent ways you can bring it to life with a lot of resources and personals to help you bring it to life</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block process-block">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-cloud-download feature_icon"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">Concept</a></h4>
                        <p>You can work on your concept with various mentors ready to guide you in the right direction with great support to ensure it becomes successful</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block process-block">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-magic feature_icon"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">Design</a></h4>
                        <p>We have the best designers who are ready to give your ideas a great look and ensure your work is professional enough to present to your clients and potential customers</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 block process-block lastchild">
                    <div class="process-icon-holder">
                        <div class="process-border">
                            <span class="process-icon"><a href="#"><i class="fa fa-cog feature_icon"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="process-text-block">
                        <h4><a href="#">Develop</a></h4>
                        <p>You get to develop and create great projects with the best technologically advivansed solutions and creative support behind you. freeing you up to do what you love. </p>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="testimonial">
        <div class="container">
            <div class="section-heading text-center">
                <div class="col-md-12 col-xs-12">
                    <h1>What Our <span>Client Says</span></h1>
                    <p class="subheading">Below is the testimony of some of our clients that have used our app to produce their final products.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12 block ">
                    <div class="testimonial_box">
                        <p>I really love Yellow Split it saved alot of time while enabling me to collaborate with other various producers. </p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="testimonial_user">
                        <div class="user-image"><img src="img/user1.png" alt="user" class="img-responsive" /></div>
                        <div class="user-info">
                            <h5>DJ Freash</h5>
                            <p>DJ/Radio Presenter</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-12 block">
                    <div class="testimonial_box">
                        <p>I managed to make one of the best selling records using this app with the help of all the registered users. </p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="testimonial_user">
                        <div class="user-image"><img src="img/user1.png" alt="user" class="img-responsive" /></div>
                        <div class="user-info">
                            <h5>Lulo Cafe</h5>
                            <p>DJ/Producer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 block">
                    <div class="testimonial_box">
                        <p>I recieved the best ideas and recieved the best disnger dress out of this app, Yellow Split rocks!! <p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="testimonial_user">
                        <div class="user-image"><img src="img/user1.png" alt="user" class="img-responsive" /></div>
                        <div class="user-info">
                            <h5>Somizi</h5>
                            <p>Presentor</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Address</h4>
                        <hr />
                        <p>
                            Yello Split 185, Smith Steet, Fairland Randburg, 5 Zotos House, Johannesburg
                        </p>
                        <a href="#" class="learnmore">Learn More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Useful Links</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Community</h4>
                        <hr />
                        <ul class="footer-links">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Free Goods</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 <block></block>">
                    <div class="footer-block">
                        <h4>Recent Posts</h4>
                        <hr />
                        <ul class="footer-links">
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>
                            <li>
                                <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                <p class="post-date">May 25, 2017</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <section id="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Use</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                        Developed by <a href="www.aceendsit.co.za">Ace Ends IT</a> designed by <a href="www.aceendsit.co.za">Designing Team</a>
                    </div>
                </div>
            </div>
        </section>

    </section>

</body>

</html>
