@model IEnumerable<YelloSplit.Models.UserDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="wrapper" class="orange">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">011 325 6659</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">YellowSplit.co.za</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
   

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <h1>Yellow</h1>
                            <span>Split</span>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="~/Site/Home">Home</a></li>
                            <li><a href="~/Site/features">Features</a></li>
                            <li><a href="~/Site/about">About</a></li>
                            <li><a href="~/Site/contact">Contact</a></li>
                            <li><a href="~/Site/login">Sign In</a></li>
                            <li><a href="~/Site/registration">Sign Up</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
        </nav>
        <!--/.nav-ends -->
    </header>
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>Welcome to Yello Split</h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    @foreach (var @dataw in Model)
                    {
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <h4>User Name :@dataw.Name</h4>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;"><span class="sep"> </span><span class="current"> Total Credits : @dataw.Credits</span></div>
                    }
                </div>
            </div>
        </div>


    </section>


    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2>Your Number 1 <span>Collabo Site</span></h2>
                        <p class="subheading">Check all the collabos you have submitted</p>
                        <a asp-action="Index" asp-controller="Collaboration" style="color:blue">Back To Main</a>
                    </div>
                    <p>
                        @*<a asp-action="Create">Creat New</a>*@
                        <button type="button" class="btn btn-primary slide" onclick="@("window.location.href='" + @Url.Action("Create", "Collaboration") + "'");">ADD NEW<i class="fa fa-caret-right"></i></button>
                    </p>
                    @foreach (var @dataw in Model)
                    {
                        @foreach (var @dataw2 in @dataw.varCollaborations)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Music
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            SubCategory
                                        </th>
                                        <th>
                                            Name
                                        </th>

                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Collab
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(@dataw2.Audio))
                                        </td>
                                        <td>
                                            @dataw2.Category
                                        </td>
                                        <td>
                                            @dataw2.SubCategory
                                        </td>
                                        <td>
                                            @dataw2.Name
                                        </td>
                                        <td>
                                            @dataw2.Description
                                        </td>

                                        <td>
                                            <a asp-action="Create">Collab</a>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        }
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="img/iphone62.png" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>


</body>



















































